<div id="form">
  <mat-card style="width: 50vh; text-align: center; padding: 30px">
    <form [formGroup]="form" (ngSubmit)="createStock()">
      <mat-form-field>
        <label>
          <input matInput type="text" class="form-control" id="query" placeholder="Product"
                 formControlName="query" formControl/>
        </label>
      </mat-form-field>
      <mat-radio-group aria-label="Select a Wholesaler" [(ngModel)]="productId" [ngModelOptions]="{standalone: true}">
        <div class="mat-card" *ngFor="let employee of products">
          <mat-radio-button [value]="employee.id">{{employee.title}} ({{employee.manufacturer}})-
            Rs{{employee.selling_price}}</mat-radio-button>
        </div>
      </mat-radio-group>
      <br>
      <mat-form-field>
        <label for="no_of_units">
          <input matInput type="text" class="form-control" id="no_of_units" placeholder="Quantity"
                 formControlName="no_of_units">
        </label>
      </mat-form-field>      <br>
      <button mat-raised-button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i
          class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
    </form>
  </mat-card>
</div>
